body {
  padding: 0 !important;
  margin: 0 !important;
}

.navbar{
  height: 80px;
}


.featured_container .card-img-top {
  height: 240px;
  object-fit: cover;
}

/* .card {
  min-height: 400px;
} */

.main_container {
  margin-top: 45px;
}



/* html {
  background-color: rgb(33, 37, 41);
} */

.featured_container,
.my-dark {
  background-color: rgb(44, 45, 47);
  padding: 20px;
}

.my-btn {
  width: 160px !important;
  font-size: 28px;
  margin: 0 100px;
}


@media only screen and (max-width: 1060px) {

  .featured_container {
    padding: 8px;
  }
}

.my-login-form {
  margin-top: 90px !important;
  width: 450px !important;
}

@media only screen and (max-width: 500px) {
  .my-login-form {
    width: 85% !important;
  }

  .my-btn {
    width: 120px !important;
    font-size: 20px;
  }
}


.hero {
  height: 550px;
}



.featured_container {
  gap: 20px 0px;
}

/* form styling */

.form_container {
  background-color: rgb(44, 45, 47);
  padding-top: 60px;
}

.form-select,
.form-control {
  background-color: rgb(30, 31, 31) !important;
  color: white !important;
}

.my-search-bar {
  max-width: 350px !important;
  display: inline !important;
}


@media only screen and (min-width: 1060px) {

  #hero-text {
    font-size: 30px;
  }
}





p {
  margin-bottom: 0px;
  padding-bottom: 16px;
}

video {
  position: fixed;
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(60%);
  z-index: -3;
}


/* alexus' page */
.img-fluid {
  object-fit: cover !important;
  height: 280px;
}

#Products .card {
  margin: 0 auto;
}

.text-muted {
  color: rgb(181, 181, 181) !important;
}

.product-card-img {
  height: 300px !important;
  width: 300px;
  object-fit: cover !important;
}



/* card stuff */

.card-body-home {
  margin-top: 10px;
  height: 120px;
}

.card-body-about {
  margin-top: 10px;
  height: 134px;
}

.card-body-product {
  margin-left: 10px;
}

.footer {
  height: 60px;
}