.card-text {
  height: 140px;
}

.card-img-top {
  height: 230px;
  object-fit: cover;
}

.main_container {
  margin-top: 45px;
  background-color: black;
}



html {
  background-color: rgb(33, 37, 41);
}

.main_container,
.my-dark {
  background-color: rgb(44, 45, 47)
}

.card-title {
  margin-top: 10px;
}

.card_container {
  width: 90%;
  margin: 0 auto !important;
}

@media only screen and (max-width: 1060px) {

  .card_container {
    width: 100%;
    gap: 20px 0px;
  }

  .main_container {
    padding: 0px !important;
  }

  .card-text {
    height: 100px;
  }
}

.hero {
  background: rgba(1, 1, 1, 0.39) url("../img/hero2.jpg");
  background-blend-mode: darken;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.featured_container {
  gap: 20px 0px;
}

.featured_container .card-text {
  height: 100px;
  padding: 10px;
}