body {
  padding: 0 !important;
  margin: 0 !important;
}

.navbar{
  /* height: 80px; */
  /* padding: 10px; */
}


.featured_container .card-img-top {
  height: 240px;
  object-fit: cover;
}

/* .card {
  min-height: 400px;
} */

.main_container {
  margin-top: 45px;
}



/* html {
  background-color: rgb(33, 37, 41);
} */

.featured_container,
.my-dark {
  background-color: rgb(44, 45, 47);
  padding: 20px;
}

.my-btn {
  width: 160px !important;
  font-size: 28px;
  margin: 0 100px;
}


@media only screen and (max-width: 1060px) {

  .featured_container {
    padding: 8px;
  }
}

.my-login-form {
  margin-top: 90px !important;
  width: 450px !important;
}

@media only screen and (max-width: 500px) {
  .my-login-form {
    width: 85% !important;
  }

  .my-btn {
    width: 120px !important;
    font-size: 20px;
  }

  .card-body-about {
    height: 80px !important;
  }
   
}


.hero {
  height: 550px;
}

#hero-text {
  font-size: clamp(1.1rem, 1.7vw, 30px);
}



.featured_container {
  gap: 20px 0px;
}

/* form styling */

.form_container {
  background-color: rgb(44, 45, 47);
  padding-top: 60px;
}

.form-select,
.form-control {
  background-color: rgb(30, 31, 31) !important;
  color: white !important;
}

.my-search-bar {
  max-width: 350px !important;
  display: inline !important;
}


@media only screen and (min-width: 1060px) {

/*   #hero-text {
    font-size: 30px;
  } */

  .card-title {
    font-size: 38px;
  }
  .card-text {
    font-size: clamp(16px, 1.33vw, 26px);
  }

  .card-text-lower {
    font-size: 22px;
  }
}





p {
  margin-bottom: 0px;
  padding-bottom: 16px;
}

video {
  position: fixed;
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: brightness(60%);
  z-index: -3;
}


/* alexus' page */
.img-fluid {
  object-fit: cover !important;
  height: 280px;
}

#Products .card {
  margin: 0 auto;
}

.text-muted {
  color: rgb(181, 181, 181) !important;
  text-decoration: underline;
}

.product-card-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.card-left {
  width: 30%;
  aspect-ratio: 1 / 1 !important;
  display: inline-block;
}

.card-right {
  width: 70%;
  display: inline-block;
}



/* card stuff */

.card-body-home {
  margin-top: 10px;
  height: 120px;
}

.card-body-about {
  margin-top: 10px;
  height: 180px;
}

.card-body-product {
  margin-left: 10px;
}

.footer {
  height: 60px;
} 

.categories-container {
  margin: 0 auto;
}

.category-container {
  display: inline-block;
  width: 250px;
  position: relative !important;
}

.category-img {
  width: 230px !important;
  height: 230px !important;
  object-fit: cover !important;
  padding: 0;
  margin: 10px;
  border-radius: 12px;
  opacity: 0.6;
}

.category-text {
  width: 200px;
  font-weight: bold;
  font-size: 27px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card-text {
  font-size: clamp(16px, 1.33vw, 26px);
}

.ard-right .rating {
  display: inline-block;
  transform: scale(0.2) !important;
}

.saba-logo {
  width: 150px;
  height: auto;
  filter: brightness(1.4);
  margin-right: 10px;
}

.nav-link {
  font-size: 20px;
}